body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('./images/Reservation\ Form\ Background.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.container {
    width: 400px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
button {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input:focus {
    outline: none;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#home {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px; /* Add margin between buttons */
}

#menu {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
}

#home:hover,
#menu:hover {
    background-color: #777;
    color: #ffcc00;
}


footer {
    background-color: #1f2120;
    color: white;
    text-align: center;
    padding: 20px 0;
    position:relative; /* Fixed position to stick to the bottom */
    bottom: 0;
    width: 100%; /* Full width */
}
